
:root.theme-light {
  --cover-image: url(../images/cover-image-light.png);
  --decor-color: #353430;
  --decor-color-subtitle: #ff8dcb;
  --header-title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --menu-color: #353430;
  --text-color: #353430;
  --color-title: #353430;
  --default-color: rgba(50, 49, 45, 0.4);
  --button-color-hover:rgba(50, 49, 45, 0.4);
  --page-color: #353430;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --cover-image: url(../images/cover-image-light.png);
      --decor-color: #353430;
      --decor-color-subtitle: #ff8dcb;
      --header-title-color: #ffc2e6;
      --accent-color: #ff8dcb;
      --menu-color: #353430;
      --text-color: #353430;
      --color-title: #353430;
      --default-color:rgba(50, 49, 45, 0.4);
      --button-color-hover: rgba(50, 49, 45, 0.4);
      --page-color: #353430;
    }

     .decorative-rec-indicator { 
    display: none
  }
  }
  