
:root {
  color-scheme: light dark;
  --header-title-color: #db00ff;
  --button-color: #ff0070;
  --button-color-hover: #ff007066;
  --color-title: rgb(255 0 112);
  --menu-color: #ff0070;
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --decor-color-subtitle: #ff0070;
  --header-color: #000028;
  --text-color: #f1b2ce;
  --rec-visability: visible;
  --cover-image: url(../images/cover-image-dark.png);
  --page-color: #000028;
  --focus-color: #f1b2ce;
  --default-color: #ff0070;
  --link-color-hover: #F1B2CE;
}
